[app]
name = "{{ name }}"

[server]
host = "0.0.0.0"
port = 3000

[database]
driver = "postgres"
url_env = "DATABASE_URL"
pool_size = 10

[view]
pretty = false
tailwind = true

[telemetry]
enabled_env = "OTEL_ENABLED"
service_name = "{{ name }}"
