use super::entity::{{ pascal_name }};
use super::value_objects::{{ pascal_name }}Id;
use async_trait::async_trait;

#[async_trait]
pub trait {{ pascal_name }}Repository: Send + Sync {
    async fn list(&self, limit: u32) -> Result<Vec<{{ pascal_name }}>, gluon::AppError>;
    async fn find(&self, id: &{{ pascal_name }}Id) -> Result<Option<{{ pascal_name }}>, gluon::AppError>;
    async fn save(&self, entity: &{{ pascal_name }}) -> Result<(), gluon::AppError>;
    async fn delete(&self, id: &{{ pascal_name }}Id) -> Result<(), gluon::AppError>;
}
