use gluon::ContainerBuilder;

#[allow(unused_mut)]
pub fn build_container(builder: ContainerBuilder) -> ContainerBuilder {
    let mut builder = builder;
    // <gluon:binds>
    // </gluon:binds>
    builder
}
